* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    background-color: #F3EEEA;
  }
  
  html, body {
    height: 100%;
    overflow: hidden;
  }
  
  nav {
    background-color: #F3EEEA;
  }
  
  .container {
    margin: 0 auto;
    max-width: 1140px;
    height: 100%;
  }
  
  .nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
  
  a {
    color: #776B5D;
    text-decoration: none;
  }
  
  .menu {
    display: flex;
  }
  
  .menu li {
    list-style: none;
    padding: 10px;
  }
  
  .logo {
    margin: 20px;
  }
  
  .menu li {
    color: #B0A695;
  }
  
  @media screen and (max-width: 360px) {
    .nav-con {
      flex-direction: column;
      height: auto;
    }
    .menu {
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
  }
  article {
    height: calc(85vh - 60px); /* Adjusted height to account for nav */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  article #aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #F3EEEA;
  }
  
  #aboutus h2 {
    color: #776B5D;
    margin: auto;
    font-size: 3rem;
  }
  
  #aboutus p {
    color: #B0A695;
    margin:  auto;
    font-size: 1rem;
  }
  
  .resume {
    color: #B0A695;
    margin:  auto;
  }
/* Add this to your existing CSS file or in a <style> block in the <head> */

.footer-container {
  text-align: center; /* Center-align the content */
  padding: 20px 0; /* Add padding for spacing */
}

.social-links {
  display: inline-block; /* Ensure inline block layout for horizontal alignment */
}

.social-links a {
  margin: 0 10px; /* Adjust margin for spacing between icons */
  color: #333; /* Example color */
  font-size: 24px; /* Example font size */
}
