* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    background-color: #F3EEEA;
    font-weight: bold;
}

nav{
    background-color: #333;
}
.container{
    margin: 0 auto;
    max-width: 1140px;
}

.nav-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

a{
    color: #776B5D;
    text-decoration: none;
}

.menu{
    display: flex;
}

.menu li{
    list-style: none;
    padding: 10px;
}

.logo{
    margin: 20px;
}

.menu li:hover{
    color: #B0A695;
}

@media screen and (max-width:360px) {
    .nav-con{
        flex-direction: column;
        height: auto;
    }
    .menu{
        flex-direction: column;
        width: 100%;
        text-align: center;
        
    }

}

article{
    font-size: 2rem;
    text-align: center;
}

#aboutus h2{
    color: #776B5D;
}
#aboutus p{
    color: #B0A695;
}
.resume{
    color: #B0A695;
}